:root {
  --rmdp-main1: #3253ff;
  --rmdp-main2: #4e69ff;
  --rmdp-main4: #8295ff;
  --rmdp-grey6: #555555;
  --rmdp-grey8: #2e2e2e;
  --rmdp-grey10: #141414;
}

.bg-dark.rmdp-wrapper,
.bg-dark .rmdp-time-picker div input,
.rmdp-container .bg-dark.ep-arrow::after {
  /* width: 36rem;
  height: 37.9rem; */
  position: relative;
  bottom: 2.2rem;
  margin-bottom: 11.8rem;
  background-color: var(--rmdp-grey10) !important;
  border: none !important;
}
.rmdp-year-picker,
.bg-dark .rmdp-month-picker {
  position: absolute;
  top: 0;
  left: 0.2rem;
  z-index: 1;
  height: 20rem;
  background-color: black !important;
}

.rmdp-calendar {
  width: 36rem;
  height: 37.9rem;
}

.rmdp-day-picker {
  justify-content: center;
}

.rmdp-day-picker > div {
  width: 36rem;
}

.rmdp-day-picker > div > div:first-child {
  margin-bottom: 0.7rem;
  border-bottom: 0.5px solid white;
}

/* .rmdp-week {
  border-bottom: 0.5px solid white;
} */

.rmdp-arrow-container:hover {
  background-color: transparent !important;
  box-shadow: none !important;
}

.bg-dark .rmdp-day:not(.rmdp-deactive),
.bg-dark .rmdp-time-picker div .rmdp-am,
.bg-dark .rmdp-header-values,
.bg-dark .rmdp-panel-header {
  color: white;
}

.rmdp-arrow-container rmdp-right {
  font-weight: 500;
  font-size: 1.6rem;

  /* asap/body1 */
  font-family: 'Pretendard Variable';
  font-style: normal;
  line-height: 2.4rem;
  letter-spacing: -0.16px;
  text-align: center;
}
.rmdp-header {
  margin-bottom: 1rem;
}

.rmdp-header-values {
  font-weight: 500;
  font-size: 1.6rem;

  /* asap/body1 */
  font-family: 'Pretendard Variable';
  font-style: normal;
  line-height: 2.4rem;
  letter-spacing: -0.16px;
  text-align: center;
}

.bg-dark .rmdp-panel-body li {
  color: white;
}

.bg-dark .rmdp-panel-body li {
  background-color: var(--rmdp-main1);
}

.bg-dark .rmdp-week-day {
  color: #ffffff;
  font-weight: 500;
  font-size: 1.4rem;
  /* asap/body2 */
  font-family: Pretendard;
  font-style: normal;
  line-height: 2rem;
  letter-spacing: -0.14px;
  text-align: center;
}

.bg-dark .rmdp-day.rmdp-deactive {
  /*이전달 다음달 날짜*/
  color: var(--rmdp-grey6) !important;
}

.rmdp-range {
  color: white;
  background-color: var(--rmdp-main1) !important;
  /* 범위 선택*/
  box-shadow: none !important;
}

.rmdp-range > span {
  color: white;
}

.bg-dark .rmdp-arrow {
  border: solid white;
  border-width: 0 2px 2px 0;
}

.bg-dark .rmdp-panel-body::-webkit-scrollbar-thumb {
  background: var(--rmdp-main1) !important;
}

.bg-dark .rmdp-day.rmdp-today span {
  background-color: rgba(50, 83, 255, 0.4) !important;
}

.bg-dark .rmdp-rtl .rmdp-panel {
  border-right: 1px solid var(--rmdp-main1);
  border-left: unset;
}

.rmdp-day.rmdp-selected span:not(.highlight) {
  background-color: var(--rmdp-main1) !important;
  border: 1px solid var(--rmdp-main4) !important;
  box-shadow: none !important;
}

.bg-dark .rmdp-day:not(.rmdp-day-hidden) span:hover {
  /*날짜 호버 백그라운드*/
  pointer-events: none !important;
}
.rmdp-day {
  width: 4rem;
  height: 4rem;
  /*날짜*/
  padding: 2.5rem 2.5rem;
}
.rmdp-day span {
  font-weight: 400;
  font-size: 1.6rem;
  /* asap/button2 */
  font-family: Pretendard Variable;
  font-style: normal;
  line-height: 2rem;
  letter-spacing: -0.16px;
  text-align: center;
  pointer-events: none !important;
}

.rmdp-week-day {
  /*요일*/
  width: 4rem;
  height: 4rem;
  padding: 0 0.4rem;
}

.bg-dark .rmdp-action-button {
  color: var(--rmdp-main1) !important;
}

.bg-dark .rmdp-button:not(.rmdp-action-button) {
  background-color: var(--rmdp-main1) !important;
}

/* .bg-dark .rmdp-button:not(.rmdp-action-button):hover {
  background-color: var(--rmdp-main1);
} */

.rmdp-day.rmdp-disabled {
  color: var(--rmdp-grey6) !important;
}

.rmdp-day.rmdp-disabled.rmdp-deactive {
  color: var(--rmdp-grey10) !important;
}
